* {
    margin:0;
    padding:0;
}

html {
    overflow: -moz-scrollbars-vertical;
}


/* Code below obtained from https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */
/* The sidebar menu */
body {
    font-family: "Arial" , "Lato", sans-serif;
}

html, body, #container, .sidenav, #content {
    height: 100%;
}

#container {
    margin-top: -50px;
    padding-top: 50px;
}


